*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:#eee;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
form{
    width: 30%;
    height: auto;
    border: 1px solid #aaa;
    background: white;
    font-size: large;
    font-weight: 200;
    margin-top: 5em;
    border-radius: 3px;
    text-align: center;
    color:#444;
    font-weight: lighter;
    
}
.info{
    margin:0 1.5em;
    font-size: small;
}
ul{
    padding:0 1em;
    list-style-type: none;
}
ul li {
    text-align: center;
    height: 130px;
}
label{
    display: block;
    text-align: left;
    margin-left: 15px;
    font-size: 14px;
    line-height: 30px;
}
input{
    height: 3em;
    border-radius: 5px;
    border:1px solid #C1C5C8;
}
input ::placeholder{
    padding-left: 20px;
}
form input{
    width: 325px;
    margin: 3%;
}
.phone-info{
    font-size: 10px;
    padding:0 0 1em;
    text-align: center;
    float: left;
    margin-left: 15px;
}

form p {
    text-align: center;
}
button{
    background-color: #0077C5;
    border: none;
    width: 325px;
    border-radius: 3px;
    height: 40px;
    color: #ffffff;
  
    margin-left: 4.7px;
    margin-right: 4.7px;
}
.form-top{
    margin-top: 30px;
    margin-bottom: 30px;
}
.form-top .info{
    margin-top: 20px;
}

.terms{
    margin-top: 30px;
    padding: 0 50px;
    font-style: italic;
    font-size: 12px;
    color: #8a8585;
}
.form-footer{
    background:#bbb;
    font-size: 10px;
    padding:2em;
 
}
a{
    text-decoration: none;
}